*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    transition: all .5s;
}
/**
 * Standardize
 */
body{
    background-color: #111;
    color: #fff;
}

li{
    list-style: none;
    /* display: inline-block; */
    padding: 5px;
    /* line-height: 5px; */
}

a{
    text-decoration: none;
    color: #fff;
}


h1{
    text-align: center;
    color: #fff;
    text-shadow: 5px 5px 100px #cacaca;
}
h3{
    text-align: center;
    color: #fcbc32;
    font-family: 'Source Code Pro' sans-serif;
    font-size: 2em;
}

.map{
    position: fixed;
    left: 0;
    top: 0;
    /* background-color: #ce1f1f; */
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 7vw; */
}

.map li{
    display: flex;
}

.map li a{
    transition: .3s;
}

.map li:nth-child(2) a{
    color: #5b4dff;
}
.map li:nth-child(3) a{
    color: #a558fc;
}
.map li:nth-child(4) a{
    color: #f00741;
}
.map li:nth-child(5) a{
    color: #f0e807;
}

.map li a:hover::before{
    /* text-shadow: 5px 5px 50px #111; */
    /* content: '⚔'; */
    /* box-shadow: 5px 5px 50px #111; */
    border-radius: 10px;
    
    
}

.map li a:hover {
    padding-left: 3px;
    /* text-shadow: 0 10px 10px red; */
}

.active a {
    border-bottom: 2px solid #ff0000;
}

.container{
    padding: 0 7vw;
}
article {
    margin: 2em 0;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 1vw 1vh;
    /* text-align: center; */
}

article .period{
    font-weight: bold;
}

article .place{
    padding: 0 20px;
    font-size: 1.1em;
    font-family: 'Roboto';
}

article .description{
    padding: 0 30px;
    font-family: 'Source Sans Pro';
}

article .description span::before{
    content: '-';
}

.skills ul{
    /* background-color: #323fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills ul li {
    border-radius: 50%;
    background-color: blue;
    padding: 10px;
    margin: 0 .1em;
    transition: .3s ease;
}

.skills ul li:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.info__body{
    text-align: center;
}

.info__body__name{
    font-size: 1.4em;
    color: #e3ff0f;
}

.contact ul {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.contact ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease;
}

.contact ul li:hover a{
    color: #fa7248;
}

.contact ul li:hover .material-icons-outlined{
    animation: shake .3s ease;
    /* animation-iteration-count: infinite; */
}

.info__title{
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 40px #fff;
}

.projects__title{
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 40px #fff;
}

.education__title{
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 40px #fff;
}

.experience__title{
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 40px #fff;
}

.info ~article ul{
    padding: 0;
    margin: 1vw;
    border-left: 3px solid red;
}

/* .education ul{
    
}

.experience ul {
    padding: 0;
    margin: 1vw;
    border-left: 1px solid red;
} */

@keyframes shake{
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media only screen and (max-width: 600px) {
    *{
        font-size: 13px;
    }

    article{
        padding: 0;
    }
     
    .skills ul{
        display: flex;
        /* justify-content: center; */
        padding:0;
        margin: 0;
    }
    .skills ul li{
        border-radius: 10px;
        padding: 1px;
        margin: 1px;
    }

    .contact ul {
        display: flex;
        padding:0;
        margin: 0;
        /* align-items: baseline; */
    }

    .info__body{
        text-align: left;
    }

    .info ~article ul{
        padding: 0;
        /* margin: 1vw; */
        border: none;
    }
    
}